In [4]:
abc = 100

In [5]:
print(abc+10)

110

In [7]:
import os
os.getcwd()

'C:\\Users\\LENOVO\\Desktop\\ML Practice\\day 1'

In [8]:
print("ruhu","amin",end ="|")
print("shazid")

ruhu amin|shazid

In [12]:
print("ruhu","khan",end =" \ ",sep="amin")
print("shazid")

ruhuaminkhan \ shazid

In [13]:
x=10

In [29]:
x+30

TypeError: can only concatenate tuple (not "int") to tuple

In [32]:
x= x+30

TypeError: can only concatenate tuple (not "int") to tuple

In [22]:
x

100

In [23]:
sum(x,10)

TypeError: 'int' object is not iterable

In [24]:
x=(10,20,30)

In [25]:
sum(x,100)

160

In [33]:
sum(x,10)

70

In [1]:
x=[10]
type(x)

list

In [2]:
data = 'i am ruhul amin Shazid'

In [3]:
data

'i am ruhul amin Shazid'

In [4]:
type (data)

str

In [5]:
new_data = data.split()

In [6]:
new_data

['i', 'am', 'ruhul', 'amin', 'Shazid']

In [7]:
for x in range (len(data)):
    print(data[x])

i

a
m

r
u
h
u
l

a
m
i
n

S
h
a
z
i
d

In [8]:
data

'i am ruhul amin Shazid'

In [9]:
data[0]

'i'

In [10]:
data[2:10]

'am ruhul'

In [11]:
data[-5]

'h'

In [12]:
data

'i am ruhul amin Shazid'

In [13]:
x=100

In [15]:
print ('I have = taka'.format(x))

I have = taka

In [16]:
x

100

In [18]:
print ('I have = (x) taka')

I have = (x) taka

In [19]:
print ('I have = {} taka'.format(x))

I have = 100 taka

In [20]:
#input function 

x=10
y=10
x+y

20

In [21]:
x=10
y=20
x+y

30

In [22]:
x=input()
y=input()

x+y

5
5

'55'

In [22]:
x=input()
y=input()

x+y

5
5

'55'

In [23]:
type(x+y)

str

In [27]:
x=int(input())
y=int(input())

x+y

3
3

6

# If else condition

In [28]:
x = 10
y = 20

if (x>y):
    if (x>=y):
        print('yes')

In [29]:
elif (y>=y):
    if (x>y):
        print('its ok')
        print(x+y)